::-webkit-scrollbar {
  width: 1px;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: relative;

  .aside-container {
    display: flex;
    flex-direction: column;
    flex: 0 0 290px;
    order: 1;
    height: 100%;

    &.aside-hidden {
      display: none;
    }

    &.aside-n {
      flex-basis: 240px !important;
    }

    .navbar {
      display: flex;
      justify-content: space-between;
      background-color: #262d31;
      color: honeydew;
      flex: 0 0 57px;
      align-items: center;
      padding-left: 5px;
      padding-right: 5px;
      height: 57px;

      img {
        border-radius: 50%;
        height: 40px;
        width: 40px;
        object-fit: cover;
        margin: 3px;
      }

      .title {
        color: #00af9c;
        margin: auto;
        cursor: default;
      }
    }

    .tab-bar {
      display: flex;
      background-color: white;
      align-items: center;
      flex: 0 0 57px;
      height: 57px;

      .img-search {
        position: absolute;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 25px;
        width: 25px;
        margin-left: 3px;
      }
      .input {
        border: 1px solid #e1e4e5;
        border-radius: 7px;
        height: 60%;
        width: 70%;
        text-align: left;
        padding-left: 30px;
        outline: none;
        margin-left: 4px;
      }
    }
    .content-list {
      height: 100%;
      background-color: white;
      overflow-y: auto;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    order: 2;
    flex: 1 1 auto;

    .placeholder-container {
      background-color: #262d31;
      flex: 1 1 auto;
      flex-wrap: wrap;
      color: rgb(241 241 242 / 88%);

      .button-conteiner {
        background-color: #262d31;
        color: white;
        border: none;
        margin-top: 4px;
        position: absolute;
        margin-top: 15px;
      }

      .chat-placeholder {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
        flex-wrap: wrap;
        .start-container {
          img {
            flex: 0 0 auto;
          }
        }
        .h2 {
          font-size: 35px;
          font-weight: normal;
        }
        .divider {
          width: 60%;
          border-top: 1px solid rgb(241 241 242 / 88%);
          margin: 10px 0;
        }
        a {
          color: #dcf7c5;
          text-decoration: none;
        }
      }
    }

    .nav2 {
      flex: 0 0 57px;
      align-items: center;
      display: flex;
      flex-direction: row;
      .nav2-content {
        display: flex;
        background-color: white;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        flex: 1 1 auto;
        .name {
          flex: 1 1 auto;
          padding-left: 15px;
          font-size: 20px;
          color: black;
          font-weight: 500;
          font-size: 22px;

          .green {
            flex: 1 1 auto;
            display: inline-block;
            position: relative;
            height: 8px;
            width: 8px;
            background-color: #00af9c;
            border-radius: 50%;
            margin-bottom: 3.2px;
            margin-left: 5px;

            &.online {
              background-color: rgba(0, 0, 0, 0.5);
            }
          }
        }
        .icon-nav2 {
          flex: 0 0 auto;
          cursor: pointer;
          span {
            padding: 15px;
          }
        }
      }

      .button-conteiner {
        background-color: white;
        border: none;
      }
    }
    .content-container {
      display: flex;
      background-color: rgb(0 0 0 / 9%);
      flex: 1 1 auto;
      flex-direction: column;
      height: 100%;
      justify-content: flex-end;
      overflow: hidden;
      app-user-message {
        overflow-y: auto;
      }
    }

    .footer {
      display: flex;
      flex: 1 1 57px;
      background-color: white;
      align-items: center;
      .footer-btn {
        padding: 15px;
        border: none;
        background-color: white;
        cursor: pointer;
        color: grey;
        &:hover {
          color: rgb(51, 144, 236);
        }
      }
    }
    .form {
      display: flex;
      flex: 1 1 auto;
      align-items: center;
      .text {
        display: flex;
        flex: 1 1 auto;
        text-align: center;
        textarea {
          margin-left: 20px;
          margin-right: 20px;
          height: 30px;
          border-radius: 4px;
          outline: none;
          resize: none;
          box-sizing: border-box;
          padding: 6px;
          width: 100%;
        }
      }
      .sendIcon {
        color: grey;
        cursor: pointer;
        &:hover {
          color: rgb(51, 144, 236);
        }
      }
    }
  }
}

.small-layout .aside-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.small-layout .aside-container .aside-inner-container {
  flex: 1 1 auto;
  z-index: 2;
  width: 240px;
}
.aside-inner-container {
  overflow: hidden;
}

.menu-button {
  padding: 0 2px;
  border-radius: 50%;
  min-width: 0;
}
