

.container{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: relative;
    
    .aside-container{
        display: flex;
        flex-direction: column;
        flex: 0 0 290px;
        order:1;
        height: 100%;
        
           
        &.aside-hidden{
            display: none;
        }

        &.aside-n{
            flex-basis: 200px !important;
        }
        
        .navbar{
            display: flex;
            justify-content: space-between;
            background-color: black;
            color: honeydew;
            flex: 0 0 57px;
            align-items: center;
            padding-left: 5px;
            padding-right: 5px;

            img{
                border-radius: 50%;
                height: 30px;
                width: 30px;
                object-fit: cover;
                margin: 3px;
            }

          
             .title{
                color: rgb(147, 184, 74);
                margin: auto;
              }
              
        }

        .tab-bar {
            display: flex;
            background-color: whitesmoke;
            justify-content:center;
            align-items: center;
            flex: 0 0 57px;

            .input{
                border-radius: 15px;
                padding: 6px;
                margin: 3px;
                height: 25px;
                width: 170px;
                text-align: center;
            } 
        }
        .content-list{
            display: flex;
            flex: 1 1 auto;
            flex-direction: column ;
            overflow: hidden;
        .scroll{
            overflow-y: auto ;
            overflow-x: hidden;
        }
       
        }
    }
    .content{
        display: flex;
        flex-direction: column;
        order:2;
        flex: 1 1 auto;
        
        .nav2{
            flex: 0 0 57px;
            display: flex;
            background-color: whitesmoke;
            justify-content: center;
            align-items: center;
            .button-conteiner{
                display: flex;
                align-items: center;
                flex: 0 0 auto;
                position: absolute;
           }
            .name {
            display: flex;
            flex-direction: column;
            justify-content: flex-start; 
            flex: 1 1 auto;
            font-family: sans-serif;
            margin: 0 10px;
             h2{
              
                font-size: 1rem;
             }
             p{
                 font-size: 10px;
                 font-family: italic;
                 margin: 0;
                 
             }
            } 
         
    }
        .content-container{
            display: flex;
            background-color: rgba(128, 128, 128, 0.452);
            flex: 1 1 auto;
            overflow: hidden; 
            
            .content-msg{
                font-family: sans-serif;
                letter-spacing: 0.5px;
                overflow-y: auto;
                height: 100%;          
            }
        }
    
        .footer{
            display: flex;
            flex: 0 0 57px;
            background-color: whitesmoke;
            align-items: center;
            .footer-search{
              
                width: 500px;
                color: black;
                
            }            
        }
    }

}

.small-layout .aside-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 1;
  }
  .small-layout .aside-container .aside-inner-container { 
    flex: 1 1 auto;
    z-index: 2;
    width: 200px;
  }

.menu-button{
   padding: 0 2px;
   border-radius: 50%;
   min-width: 0;
}

.footer-btn {
    padding: 15px;
    border: none;
    background-color: whitesmoke;
}
.footer-search{
    display: flex;
    flex: 1 1 auto;
    align-items: center;
   
    
}

.full-widt{
    width: 500px;
}
.form{
  
  width: 100%;
}
