<div class="chats-container">
    <div class="row">
        <div class="col-1">
            <div class="received-chats-img">
                <img [src]="messager.imageUrl" alt="">
            </div>
            <div class="col-2">
                <div class="received-msgg-inbox">
                    <p>{{messager.message}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row-2">
        <div class="col-3">
            <div class="outgoing-chats-msgg">
                <p>{{messager.messageTwo}}</p>
            </div>
            <div class=".col-4">
                <div class=".outgoing-chats-img" >
                   
                </div>
            </div>
        </div>
    </div>
</div>



