.container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 30px 40px;
  flex-wrap: wrap;

  .message {
    color: #767676;
    display: flex;
    flex: 0 0 auto;
    align-items: flex-start;
    flex-direction: column;
    margin:7px 30px 7px 30px;

    .time {
      text-align: right;
      color: #cecece;
      font-size: 12px;
      margin-top: 5px;
    }

    img {
      height: 60px;
      width: 60px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: -30px;
      position: relative;
      margin-left: -20px;
    }
    .message-content {
      background-color: #fff;
      padding: 10px;
      border-radius: 15px;
      padding-left: 40px;
      padding-right: 20px;
      max-width: 350px;
      
    }
    &.me {
      align-items: flex-end;
      .message-content {
        background-color: #00af9c;
        padding-right: 60px;
        padding-left: 20px;
        color: white;
      }
    }
  }
  
}

