


<div class="row"  (click)="selectedUser.emit(user)">
    <div class="col-1" >
        <div  [ngClass]="{green: user.online}"></div>
        <img [src]="user.imageUrl" alt="profile">
    </div>
    <div class="content">
        <div class="conversationHeader">
            <div>{{user.fullName}}</div>
            <div class="time">{{user.time}} </div>
        </div>
        <div class="message">
            <span *ngIf="!user.iconMessage" class="material-icons iconfalse">
                done_all
            </span>
            <span *ngIf="user.iconMessage" class="material-icons icondone">
                done_all
            </span>
            <p>{{user.message}}</p>
        </div>
    </div>
</div>
